site_name: Kalpy Documentation
site_description: Python Client library for building applications with the Kaleidoscope Technologies, Inc
site_author: Kaleidoscope Tech
# site_url: https://kaleidoscope-tech.github.io/kalpy-dev/
repo_url: https://github.com/kaleidoscope-tech/kalpy-dev
repo_name: kaleidoscope-tech/kalpy-dev
edit_uri: edit/main/docs/
copyright: "&copy; Kaleidoscope Technologies, Inc"

theme:
  name: material
  language: en
  icon:
    logo: material/library
    repo: fontawesome/brands/github
  palette:
    # light mode
    - scheme: kalpy
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.instant.preview
    - navigation.path
    - navigation.prune
    # - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.suggest
    - search.share
    - toc.follow
    # - toc.integrate

plugins:
  - search
  - offline
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
        python:
          inventories:
            - https://docs.python.org/3/objects.inv
            - https://docs.pydantic.dev/latest/objects.inv
            - https://requests.readthedocs.io/en/latest/objects.inv
          options:
            docstring_style: google
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true
            # show_docstring_attributes: false
            # members: no
            # show_submodules: false
            show_signature_annotations: true
            show_source: true
            show_root_heading: true
            show_root_full_path: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            signature_crossrefs: true
            group_by_category: true
            separate_signature: true
            members_order: source
            # show_labels: false
            # show_if_no_docstring: false
            modernize_annotations: true
            summary: true
            inherited_members: false
            filters:
              - "!^_" # Exclude private members
            heading_level: 2

extra_css:
  - stylesheets/extra.css
